body{
    background-color: hsl(0, 0%, 5%);
    height: 60%;
}
#hdr{
    color: hsl(0, 0%, 70%);
    font-family: Verdana;
    font-size: clamp(16px, 15vw, 40px);
    margin-top: 10px;
    margin-left: 10%;
    
}
.navbar ul{
    list-style-type: none;
    color: white;
    text-decoration: none;
    display: block;
    background: hsl(0, 0%, 0%);
    overflow: hidden;
    padding: 5px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
}
.navbar li{
    float: left;
}
.navbar a{
    font-size: clamp(9px, 1.8vw, 60px);
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background: hsl(0, 0%, 20%);
    border-radius: 20px;
}
.navbar a:active{
    background: hsl(0, 0%, 5%);
    border-radius: 20px;
}
.navbar{
    margin-top: 40%; /* Phone */
}

@media (min-width: 700px){
    .navbar{
        margin-top: 20%; /* Tablet */
    }
}

@media (min-width: 1200px){
    .navbar{
        margin-top: 15%; /* Desktop */
    }
}

.greetings{
    color: white;
    text-align: center;
}
.greetings #name{
    font-size: 4em;
}
